
* {
    background-color: #e6e6e6;
}

.tye {
    background-color: #e6e6e6;
}

.navbar-nav{
    font-family: Abel;
}
h1{
    font-family: Anton;
}
h3{
    font-family: Anton;
}
p{
    font-family: Abel;
}
.h4{
    font-family: Anton;
}
h1.text-center{
    font-size: 80px;
    width: 100%;
}



